@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(../fonts/memsyags126mizpba-uvwbx2vvnxbbobj2ovzyoosr4dvjwugsjz0b4gavc_1.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(../fonts/memsyags126mizpba-uvwbx2vvnxbbobj2ovzyoosr4dvjwugsg-1x4gavc_1.ttf) format('truetype');
}
